@import '../../../style/config.css';

.contact {
    background: var(--faint);
    position: relative;
    transition: opacity 200ms;
    mask: url('http://www.supah.it/dribbble/video-clip-mask.png?v=1');
    mask-size: 1800% 100%;
}

.image {
    vertical-align: middle;
    width: 180px;
    border-radius: 50%;
}

.description {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    padding: var(--margin-small);
}

.description p {
    margin: var(--margin-small) 0;
}

.description h2 {
    display: inline-block;
}

.description h1 {
    display: inline-block;
    font-size: var(--subtitle-font-size);
}

.contactSocialMedia {
    margin: var(--section-padding-wide) 0;
}

.division {
    padding: var(--margin-large) 0;
}

.contactInfo div {
    display: inline-block;
    vertical-align: middle;
    padding: 0 var(--margin-small);
    line-height: 24px;
}

.heading {
    margin: 20px 0;
}

.line {
    position: absolute;
    top: 0;
    left: 32%;
    width: 0;
    height: 100%;
}

.itemWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 120px;
    margin: var(--margin-small) 0;
    width: 100%;
    cursor: pointer;
}

.itemWrapper:hover .itemTitle {
    transform: translate(-50%, -50%) scale(1.11);
}

.itemTitle {
    position: absolute;
    top: 60px;
    left: 50%;
    color: var(--light);
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: transform 200ms;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 35px;
    transform: translate(-50%, -50%);
}

.arrow {
    position: absolute;
    bottom: -40px;
    left: 50%;
    height: 40px;
    transform: translateX(-50%);
}

.middle {
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .division {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        padding: 0;
    }

    .contactInfo div {
        display: block;
        padding: 0 var(--margin-small);
        line-height: 24px;
    }

    .itemWrapper {
        height: 40px;
        width: 20%;
        margin: 0;
    }

}
