@import '../../../style/config.css';

.section {

}

.project {
    position: relative;
    background: var(--faint);
    margin: var(--margin-small);
    padding: var(--margin-small);
    text-align: left;
    cursor: pointer;
}

.projectInfo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 calc(var(--margin-small) * 0.5);
}

.projectIndex {
}

.projectName {
}

.projectYear {
}

.projectDetails {
    position: relative;
}

.projectDetailsInfo {
    float: right;
}

.projectDetailsLineDown {
    position: absolute;
    top: 100%;
    right: calc(var(--margin-small) * 1.5);
    width: 1px;
    height: 42px;
    transform-origin: 50% 0;
    transform: scaleY(0);
    transition: transform 200ms 200ms;
    z-index: 1;
}

.project.isHovered .projectDetailsLineDown {
    transform: scaleY(1);
    transition: transform 200ms;
}

.projectDetailsLineLeft {
    position: absolute;
    bottom: -42px;
    right: calc(var(--margin-small) * 1.5);
    width: calc(50% - 160px - var(--margin-small) * 2.5);
    height: 1px;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 200ms;
    z-index: 1;
}

.project.isHovered .projectDetailsLineLeft {
    transform: scaleX(1);
    transition: transform 200ms 200ms;
}

.details {
    position: absolute;
    top: 42px;
    left: 50%;
    width: 320px;
    padding: var(--margin-small);
    color: var(--dark);
    background: rgba(255,255,255, 0.66);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateX(-50%);
    z-index: 1;
}
