.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 525px;
    width: 100%;
}

.section h1 {
    display: block;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 32px;
}

.section p {
    display: block;
    line-height: 32px;
    font-size: 24px;
    margin: 20px 0;
    max-width: 600px;
}
