.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(to right, rgba(255,255,255, 0.88) 0%, rgba(255,255,255, 0.77) 100%), url(/images/pink.jpg) center / cover no-repeat;*/
}

.svg {
    position: absolute;
}

.svg .text {
    text-anchor: middle;
}

.svg .mask .maskBody {
    fill: rgba(255,255,255, 0.88);
}

.svg > .maskWrapper {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}
