@import '../../../style/config.css';

.tech {
    position: relative;
    text-align: left;
}

.techColumn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.techRow {
    border: 2px solid var(--faint);
    margin: var(--margin-small) 0;
}

.techRow.basic {
    border: 2px solid var(--basic-color);
}

.techRow.frontend, .techRow.style {
    border: 2px solid var(--frontend-color);
}

.techRow.backend, .techRow.database {
    border: 2px solid var(--backend-color);
}

.techItem {
    position: relative;
    padding: var(--margin-small);
    cursor: pointer;
}

.techItem.basic a {
    color: var(--basic-color);
}

.techItem.frontend a, .techItem.style a {
    color: var(--frontend-color);
}

.techItem.backend a, .techItem.database a {
    color: var(--backend-color);
}

.techRow.basic .techRowName {
    background: var(--basic-color);
}

.techRow.frontend .techRowName, .techRow.style .techRowName {
    background: var(--frontend-color);
}

.techRow.backend .techRowName, .techRow.database .techRowName {
    background: var(--backend-color);
}

.techRowName {
    color: var(--light);
    text-transform: uppercase;
    padding-left: 2px;
}

.techItemScoreName {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--title-font);
    color: var(--light);
}

.techItemName {
    position: relative;
    opacity: 1;
    transition: opacity 200ms;
}

.techItemName.hide {
    opacity: 0;
}

.techItemScoreBar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: calc(100% - 4px);
    margin: 2px;
    background: var(--faint);
    z-index: -1;
}

.techItemScoreBarInner {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: transform 200ms;
}

.techItem.isHovered .techItemScoreBarInner {
    transform: scaleX(1);
}

.techItem.basic.isHovered .techItemScoreBarInner {
    background: var(--basic-color);
}

.techItem.frontend.isHovered .techItemScoreBarInner, .techItem.style.isHovered .techItemScoreBarInner {
    background: var(--frontend-color);
}

.techItem.backend.isHovered .techItemScoreBarInner, .techItem.database.isHovered .techItemScoreBarInner {
    background: var(--backend-color);
}

.tick {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 1px;
    opacity: 0.2;
    background: var(--dark);
    transition: 200ms transform;
}

.tick.active {
    opacity: 1;
    transform: scale(2);
}

.tick.active.basic {
    background: var(--basic-color);
    color: var(--basic-color);
}

.tick.active.frontend, .tick.active.style {
    background: var(--frontend-color);
    color: var(--frontend-color);
}

.tick.active.backend, .tick.active.database {
    background: var(--backend-color);
    color: var(--backend-color);
}

.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: var(--margin-small);
    height: 100%;
    width: 100%;
    background: var(--frontend-color);
    transform-origin: 0 50%;
    transition: transform 200ms;
    z-index: -1;
}

.tickNumber {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
}

@media (min-width: 768px) {

    .techColumn {
        width: 30%;
        margin: 0 1.5%;
    }

}
