.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0.22;
    background: linear-gradient(#edf4ec,#c6e2e9);
}

.line {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
}

.side {
    display: block;
}

.sideOne {
    text-align: center;
}

.sideTwo {
    text-align: center;
}

.heading {
    margin-bottom: 20px;
    font-size: 32px;
}

.subHeading {
    margin: 20px 0;
    font-size: 24px;
}

.description {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    max-width: 400px;
}

@media (min-width: 1000px) {
    .side {
        display: inline-block;
        vertical-align: middle;
        width: calc(50% - 80px);
    }

    .heading {
        font-size: 66px;
    }

    .subHeading {
        font-size: 38px;
    }

    .description {
        text-align: left;
        font-size: 24px;
    }

    .sideOne {
        margin-right: 80px;
        text-align: right;
    }

    .sideTwo {
        margin-left: 80px;
        text-align: left;
    }

    .line {
        display: block;
    }
}
