.section {
    height: 650px;
}

.line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.side {
    display: inline-block;
    vertical-align: middle;
    width: calc(50% - 80px);
}

.leftSide {
    margin-right: 80px;
    text-align: right;
}

.rightSide {
    margin-left: 80px;
    text-align: left;
}


.heading {
    margin: 20px 0;
    font-size: 66px;
}

.subHeading {
    margin: 20px 0;
    font-size: 38px;
}

.description {
    margin: 20px 0;
    text-align: left;
    font-size: 24px;
}
