@import '../../style/config.css';

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 5;
}

.navLinks {
    position: relative;
    text-align: left;
}

.navLinks.singleMenu .navLink.backIcon {
    display: inline-block;
}

.line {
    position: absolute;
    left: 0;
    top: 50%;
    height: 0;
    width: 100%;
    opacity: 0;
    background: var(--faint);
    transform-origin: 0 50%;
    transform: translateY(-50%) scaleX(1);
    transition: height 100ms 400ms, opacity 100ms 400ms, transform 400ms;
}

.nav.dot .line {
    opacity: 1;
    height: 2px;
    transform: translateY(-50%) scaleX(0);
    transition: height 100ms, opacity 100ms, transform 400ms 400ms;
}

.navLink {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

.navLink a {
    padding: var(--margin-small);
    margin: 0 var(--margin-small);
}

.nav.dot .backIcon {
    transform: scale(0);
    opacity: 0;
}

.backIcon {
    display: none;
    vertical-align: middle;
    opacity: 1;
    transform: scale(1);
    transition: transform 400ms 400ms, opacity 400ms 400ms;
}

.navLinkName {
    transform: scaleY(1);
    text-transform: uppercase;
    transition: transform 400ms 400ms;
}

.nav.dot .navLinkName {
    transform: scaleY(0);
    transition: transform 400ms;
}
