@import './config.css';

@font-face {
    font-family: Voice;
    src: url(/images/voice.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', 'arial', sans-serif;
    -webkit-appearance: none;
}

body {
    background: #FFFFFF;
    color: #212121;
}

section {
    position: relative;
    padding: 70px 0;
}

button, input, a {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Didact Gothic', 'arial', sans-serif;
}

text {
    font-family: 'Voice', 'arial', sans-serif;
}

h1 {
    font-family: 'Voice', 'arial', sans-serif;
    font-size: 88px;
}

h2 {
    font-size: 60px;
    text-transform: uppercase;
}


h3 {
    font-size: 35px;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    text-transform: uppercase;
}


ul li {
    list-style-position: inside;
    list-style-type: square;
}

a {
    text-transform: uppercase;
}

a p {
    font-family: 'Didact Gothic', 'arial', sans-serif;
    font-size: 15px;
}

.AppContainer {
    padding: 0;
    margin: 0;
    text-align: center;
}

@keyframes :global(gradients) {
    0%   {background-position: 0 0;}
    25%  {background-position: 50% 0;}
    50%  {background-position: 90% 0;}
    60%  {background-position: 60%;}
    75%  {background-position: 40%;}
    100% {background-position: 0 0;}
}

@keyframes :global(fade) {
    0%   {opacity: 1;}
    50%  {opacity: 0.4;}
    100% {opacity: 1;}
}
