@import './config.css';

@font-face {
    font-family: Voice;
    src: url(/images/voice.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    -webkit-appearance: none;
}

body {
    background: var(--light);
    color: var(--dark);
}

section {
    position: relative;
    padding: var(--section-padding-wide) var(--section-padding-base);
}

section :global(.sub-section) {
    padding: calc(var(--section-padding-base) * var(--nested-section-multiplier)) 0;
}

@media (min-width: 450px) {
    section {
        padding: var(--section-padding-wide) var(--section-padding-tablet);
    }

    section :global(.sub-section) {
        padding: calc(var(--section-padding-tablet) * var(--nested-section-multiplier)) 0;
    }
}

@media (min-width: 992px) {
    section {
        padding: var(--section-padding-wide);
    }

    section :global(.sub-section) {
        padding: calc(var(--section-padding-wide) * var(--nested-section-multiplier)) 0;
    }
}

button, input, a {
    color: inherit;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}

button, input, a {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}

a {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

p {
    font-size: var(--text-font-size);
}

text {
    font-family: var(--title-font);
}

h1 {
    @apply(--title);
}

h2 {
    @apply(--subtitle);
}

ul li {
    list-style-position: inside;
    list-style-type: square;
}

:global(.monospace) {
    font-family: var(--monospace-font);
}

:global(.dark-background) {
    color: var(--light);
}

:global(.light-background) {
    color: var(--dark);
}

@keyframes :global(gradients) {
    0%   {background-position: 0 0;}
    25%  {background-position: 50% 0;}
    50%  {background-position: 90% 0;}
    60%  {background-position: 60%;}
    75%  {background-position: 40%;}
    100% {background-position: 0 0;}
}

@keyframes :global(fade) {
    0%   {opacity: 1;}
    50%  {opacity: 0.4;}
    100% {opacity: 1;}
}
