.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    color: #FFFFFF;
    background: linear-gradient(to right, rgba(0,0,0, 0.44) 0%, rgba(0,0,0, 0.22) 100%), url(/images/backgrounds/matrix.jpg) center / cover no-repeat;
}
